@tailwind base;
@tailwind components;
@tailwind utilities;

.active
{
 font-size:1.30rem;
 font-weight:700;
 color:orange;
}

body{
  font-family: "Inter", sans-serif;
}


.loader {
    width: 17px;
    height: 17px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 





